# Configuration file

~CONFIG_VERSION: 0.1.0

world-1256902502 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@content
    B:overlayEnabled=true
}


world-227252729 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-804704861 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=steel
    B:overlayEnabled=true
}


world110251489 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=sanm
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world2603186 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=南瓜
    B:overlayEnabled=true
}


world48657 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world49650 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world805325770 {
    # 在打开的 GUI 一侧显示书签列表。
    B:bookmarkOverlayEnabled=false

    # 给予物品而非显示其配方。
    B:cheatItemsEnabled=true

    # 在列表中点击物品以隐藏或取消隐藏。
    B:editEnabled=false
    S:filterText=ad 

    # 在打开的 GUI 一侧显示物品列表。
    B:overlayEnabled=true
}


world80698816 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=MOLI
    B:overlayEnabled=true
}


world823953134 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=huol
    B:overlayEnabled=true
}


world869880825 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=fangzhi
    B:overlayEnabled=true
}


world95 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


